EXPO_PUBLIC_APPWRITE_PROJECT_ID=68c9791a002b85f096b4
EXPO_PUBLIC_APPWRITE_PROJECT_NAME="jsm-food-ordering"
EXPO_PUBLIC_APPWRITE_ENDPOINT=https://nyc.cloud.appwrite.io/v1
EXPO_PUBLIC_APPWRITE_DATABASE_ID=68da5e73002cb68e70af
EXPO_PUBLIC_APPWRITE_CATEGORIES_COLLECTION_ID=category