# Appwrite Configuration
VITE_APPWRITE_ENDPOINT=https://sgp.cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=692a847d0025bb4d2bb6
VITE_APPWRITE_DATABASE_ID=692a85350000a4fc97b3
VITE_APPWRITE_BUCKET_ID=68dacda1003d6943981e

# Collection IDs
VITE_APPWRITE_USER_COLLECTION_ID=User
VITE_APPWRITE_ORDERS_COLLECTION_ID=orders
VITE_APPWRITE_ORDER_ITEMS_COLLECTION_ID=order_items
VITE_APPWRITE_PAYMENTS_COLLECTION_ID=payments
VITE_APPWRITE_REVIEWS_COLLECTION_ID=reviews
VITE_APPWRITE_RESTAURANTS_COLLECTION_ID=restaurants
VITE_APPWRITE_MENU_COLLECTION_ID=menu
VITE_APPWRITE_CATEGORIES_COLLECTION_ID=categories



# Drone System Collections
VITE_APPWRITE_DRONES_COLLECTION_ID=drones
VITE_APPWRITE_DRONE_EVENTS_COLLECTION_ID=drone_events
VITE_APPWRITE_DRONE_HUBS_COLLECTION_ID=drone_hub


